.section-waterfall #waterfall {
  background-color: rgba(40, 10, 112, 0.05);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 107, 53, 0.2);
  color: #280a70;
}

.section-waterfall #waterfall pre {
  color: #280a70;
  background: rgba(40, 10, 112, 0.05);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 107, 53, 0.2);
}
