.placeholder.svelte-zsn3ck{margin-top:var(--spacing-xl);padding:var(--spacing-xl);background:var(--color-background-lighter);border-radius:var(--border-radius-md);text-align:center;color:var(--color-text-secondary)}
